USE [master]
GO
/****** Object:  Database [CalendarDB]    Script Date: 2/3/2022 10:20:46 AM ******/
CREATE DATABASE [CalendarDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CalendarDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CalendarDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CalendarDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CalendarDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CalendarDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CalendarDB]
GO
/****** Object:  Table [dbo].[TblAttendees]    Script Date: 2/3/2022 10:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblAttendees](
	[AttenderID] [varchar](36) NOT NULL,
	[Name] [varchar](150) NULL,
 CONSTRAINT [PK_TblAttendees] PRIMARY KEY CLUSTERED 
(
	[AttenderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblAttendeesTask]    Script Date: 2/3/2022 10:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblAttendeesTask](
	[AttenderID] [varchar](36) NULL,
	[TaskID] [varchar](36) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblTask]    Script Date: 2/3/2022 10:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblTask](
	[TaskID] [varchar](36) NOT NULL,
	[Organizer] [varchar](255) NULL,
	[Subject] [varchar](150) NULL,
	[Date] [datetime] NULL,
	[Month] [int] NULL,
 CONSTRAINT [PK_TblTask_1] PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TblAttendees] ([AttenderID], [Name]) VALUES (N'04B90820-8E1F-4FB2-9469-EDCB2C3F02AC', N'Robert Turner')
INSERT [dbo].[TblAttendees] ([AttenderID], [Name]) VALUES (N'41EDB2D6-634B-4A87-9C51-A4F6C9D8FB8E', N'John Smith')
INSERT [dbo].[TblAttendees] ([AttenderID], [Name]) VALUES (N'47332F4C-8094-4754-8EB6-FE162C82FA21', N'Erika Gabler')
GO
INSERT [dbo].[TblAttendeesTask] ([AttenderID], [TaskID]) VALUES (N'04B90820-8E1F-4FB2-9469-EDCB2C3F02AC', N'8F128682-9A99-4244-BB39-3BC0A0A7A895')
INSERT [dbo].[TblAttendeesTask] ([AttenderID], [TaskID]) VALUES (N'41EDB2D6-634B-4A87-9C51-A4F6C9D8FB8E', N'8F128682-9A99-4244-BB39-3BC0A0A7A895')
INSERT [dbo].[TblAttendeesTask] ([AttenderID], [TaskID]) VALUES (N'47332F4C-8094-4754-8EB6-FE162C82FA21', N'8F128682-9A99-4244-BB39-3BC0A0A7A895')
GO
INSERT [dbo].[TblTask] ([TaskID], [Organizer], [Subject], [Date], [Month]) VALUES (N'19C45C67-B520-4EFE-BD4A-A1AA9D4A85E8', N'Team Meeting', N'Team Meeting', CAST(N'2022-01-29T16:18:38.920' AS DateTime), 1)
INSERT [dbo].[TblTask] ([TaskID], [Organizer], [Subject], [Date], [Month]) VALUES (N'8F128682-9A99-4244-BB39-3BC0A0A7A895', N'Max Mustermann', N'Project Meeting', CAST(N'2022-01-31T12:18:38.920' AS DateTime), 1)
INSERT [dbo].[TblTask] ([TaskID], [Organizer], [Subject], [Date], [Month]) VALUES (N'E730E211-4A65-4FCF-8959-0655929AA795', N'Lunch with Joe', N'Lunch with Joe', CAST(N'2022-02-28T18:18:38.920' AS DateTime), 2)
GO
ALTER TABLE [dbo].[TblAttendees] ADD  CONSTRAINT [DF_TblAttendees_AttenderID]  DEFAULT (newid()) FOR [AttenderID]
GO
ALTER TABLE [dbo].[TblTask] ADD  CONSTRAINT [DF_TblTask_TaskID]  DEFAULT (newid()) FOR [TaskID]
GO
ALTER TABLE [dbo].[TblAttendeesTask]  WITH CHECK ADD  CONSTRAINT [FK_TblAttendeesTask_TblAttendees] FOREIGN KEY([AttenderID])
REFERENCES [dbo].[TblAttendees] ([AttenderID])
GO
ALTER TABLE [dbo].[TblAttendeesTask] CHECK CONSTRAINT [FK_TblAttendeesTask_TblAttendees]
GO
ALTER TABLE [dbo].[TblAttendeesTask]  WITH CHECK ADD  CONSTRAINT [FK_TblAttendeesTask_TblTask] FOREIGN KEY([TaskID])
REFERENCES [dbo].[TblTask] ([TaskID])
GO
ALTER TABLE [dbo].[TblAttendeesTask] CHECK CONSTRAINT [FK_TblAttendeesTask_TblTask]
GO
USE [master]
GO
