@{
    ViewData["Title"] = "About";
}
<div class="border border-1 p-2">
    <div class="row">
        <div class="col-md-12 text-center">
            <h6>About this project</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>About project:</h6>
            <p>The calendar allows the user to choose a month and then
                displays all appointments in this month. The user can also click on the appointment to see additional details about the appointment.</p>
        </div>
        <div class="col-md-12">
            <h6>Some features of source project:</h6>
            <p>1- Interface and Service</p>
            <p>2- Partial View </p>
            <p>3- Interface table called : tblAttendeesTask - we can join multiple Attendees to multiple Task and vice versa </p>
            <p>4- Added Enum for Month </p>
            <p>5- Get month with function DateTimeFormatInfo(automaticly)</p>
            <p>5- Used from SQL Server 2019</p>
            <p>6- Added Unit Test with multiple data</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h6>Information Contact:</h6>
            <p>Author: Masoud Marvi</p>
            <p>Call: <a href="tel:+989368522446">+989368522446 </a></p>
            <p>Social Media: <a href="https://www.linkedin.com/in/masoudmarvi/">linkedin</a></p>
        </div>
    </div>
