@{
    ViewData["Title"] = "Home Page";
}
<div class="row border border-1 p-3">
    <div class="col-md-12 text-center">
        <h3>Welcome to this project</h3>
        <p>this project is a sample of the calendar.</p>
    </div>
    <div class="col-md-12 text-center mt-2">
        <p>Please choose one option: </p>
        <a class="btn btn-primary" href='@Url.Action("Calendar","Home")'>Calendar</a>
        <a class="btn btn-primary" href='@Url.Action("About","Home")'>About</a>
    </div>
</div>
</div>